<div class="gameScreen">
    <div class="statPanel">
        <span>Money: £{{displayNumber(data.money)}}</span>
        <span>Lines of Code: {{displayNumber(data.linesOfCode)}}</span>
    </div>
    <div class="projectPanel">
        <project
            data-ng-repeat="project in projects"
            project-name="{{project.name}}"
            lines-written="project.currentProgress"
            lines-needed="project.baseLoc" <!-- TODO: modify lines-needed with upgrades -->
        </project>
    </div>
</div>

<button data-ng-click="saveGame()">Save Game</button><br>